[submodule "vim/.vim/bundle/a.vim"]
	path = vim/.vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/.vim/bundle/vim-autoformat"]
	path = vim/.vim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "vim/.vim/bundle/vim-linux-coding-style"]
	path = vim/.vim/bundle/vim-linux-coding-style
	url = https://github.com/vivien/vim-linux-coding-style.git
